.bg {
  background-color: #ffffff;
}

.wrapper {
  max-width: 375px;
  min-height: 100vh;
  margin: 0px auto;
  background-color: #fbfbfb;
  position: relative;
}

/* FIRST PART */
.first_section {
  display: flex;
  justify-content: space-between;
  margin-top: 20px;
  gap: 10px;
  margin-bottom: 30px;
}

.search_bar {
  display: flex;
  align-items: center;
  border: 1px solid #ccc;
  border-radius: 12px;
  padding: 5px 10px;
  max-width: 300px;
  width: 300px;
}

.search_bar input {
  border: none;
  outline: none;
  width: 100%;
  padding: 5px;
  font-size: 14px;
}

.search_bar input::placeholder {
  color: #888;
  font-family: "Raleway", sans-serif;
  font-size: 14px;
}

.search_bar img {
  width: 18px;
  height: 18px;
  margin-right: 8px;
}

.first_img {
  margin-top: 10px;
}

.search_part {
  display: flex;
  gap: 15px;
  margin-top: 8px;
  padding-left: 10px;
}

/* SECOND SECTION */
.second_btnn {
  position: relative;
  bottom: 360px;
  left: 310px;
}

.first_btn {
  margin-left: 10px;
}

/* THIRD SECTION */
.third_section {
  display: flex;
  justify-content: center;
}

/* FOURTH SECTION */
.fourth_section {
  padding: 0px 20px;
}

.fourth_first_inner {
  display: flex;
  justify-content: space-between;
  margin-bottom: -20px;
}

.fourth_second_inner p:nth-of-type(1) {
  color: #8b8b8b;
  font-family: "Raleway", sans-serif;
  font-size: 14px;
}

.fourth_second_inner p:nth-of-type(2) {
  font-family: "Raleway", sans-serif;
  font-size: 16px;
  font-weight: 700;
  margin-bottom: -10px;
}

.fourth_second_inner p:nth-of-type(3) {
  font-family: "Raleway", sans-serif;
  font-size: 14px;
  margin-bottom: -5px;
}

.fourth_third_inner p {
  font-family: "Raleway", sans-serif;
  font-size: 16px;
  font-weight: 700;
  margin-bottom: 10px;
}

.fourth_img {
  display: flex;
  gap: 10px;
}
