@import url("https://fonts.googleapis.com/css2?family=Raleway:ital,wght@0,100..900;1,100..900&display=swap");

body {
  overflow: scroll;
}

.wrapper {
  max-width: 375px;
  min-height: 100vh;
  margin: 0px auto;
  background-color: #fbfbfb;
  position: relative;
}

.sec_wrapper {
  padding: 0px 15px;
}
